
body {
    background-color: #2E2E2E;
    font-family: Typewriter;
}

@font-face {
    font-family: Typewriter;
    src:url(./font/tt2020base-regular-webfont.woff) format("woff");
}



.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #393E46;
    border-radius: 25px;
    background-color: #B55400;
    padding: 10px;
    height: 100%;
    margin: 0em;
}

.input_box {
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  padding: 0px;
}

.input_box input {

background: transparent;
color: #EEEEEE;
font-family: Typewriter;
font-size: 20px;
outline: none;
border: 2px solid whitesmoke;
border-radius: 5px;
text-align: center;
font-weight: bold;
font-
}

.title {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, 10%);
    padding: 5px;
}
h1 {
    color: #EEEEEE;
    font-family: Arial;
}


#phrase {
    color: #EEEEEE;
    text-align: center;
    height: 100%;
    margin: 0em;
    overflow-y: auto;
}


