body {
    background-color: #3D3C42;
    font-family: Typewriter;
}

@font-face {
    font-family: Typewriter;
    src:url(/font/typewriter.woff) format("woff");
}


.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #D76F6F;
    border-radius: 25px;
    background-color: transparent;
    padding: 10px;
    margin: 0em;
    height: 120px;
    width: 400px;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
}

.lifePoints {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 260px;
	background: transparent;
    text-align: right;

}

.lifePoints img {
	width: 45px;
	height: 45px;
}

.answears {
  position: absolute;
  left: 50%;
  top: 79%;
  transform: translate(-50%, -90%);
  padding: 0px;
  align-content: center;
  display: grid;
}

.answears button {
    background: #5b000000;
    color: #52B3A5;
    font-family: Typewriter;
    font-size: 20px;
    outline: none;
    border: 2px solid #cc7979;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}
.answears button:hover {
    border-color: black;
}
.title {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, 10%);
    padding: 5px;
}
h1 {
    color: #CC5B5B;
    font-family: Arial;
}


#phrase {
    color: #60E88F;
    text-align: center;
    margin: 0em;
    overflow-y: auto;
}

#category {
    font-family: Arial;
    font-size: 40px;
    color: #ff6b6b;
    position: fixed;
    bottom: 0;
    text-transform: uppercase;
    font-family: Typewriter;
}


#score {
    position: absolute;
    left: 46.5%;
    bottom: 0;
    text-align: center;
    font-size: 40px;
    font-family: Arial;
    color: #ff6b6b;
    width: fit-content;
    font-family: Typewriter;
}

@media (max-width:999px) {
    .title{
        width:100%;
        top: 25%;
    }
    .title h1 {
        text-align: center; 
    }
    
    .center {
        width: 70%; 
        top: 50%; 
    }

    .answears {
        top: 80%; 
    }

    #category {
        top: 85%;
        font-size: 30px;
    }

    #score {
        top: 85%; 
        left: 60%;
        font-size 60px;
    }
    
    .lifePoints {
        top: 92.5%; 
        left: 20%;
    }

}
