body {
    background-color: #2E2E2E;
    font-family: Typewriter;
}

@font-face {
    font-family: Typewriter;
    src:url(/font/typewriter.woff) format("woff");
}



.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #393E46;
    border-radius: 25px;
    background-color: transparent;
    padding: 10px;
    margin: 0em;
    height: 180px;
    width: 400px;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
}

.lifePoints {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 260px;
	background: transparent;
text-align: right;

}

.lifePoints img {
	width: 45px;
	height: 45px;
}

.input_box {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -90%);
  padding: 0px;
}

.input_box input {

background: transparent;
color: #EEEEEE;
font-family: Typewriter;
font-size: 20px;
outline: none;
border: 3px solid #393E46;
border-radius: 10px;
text-align: center;
font-weight: bold;
}

.title {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, 10%);
    padding: 5px;
}
h1 {
    color: #EEEEEE;
    font-family: Arial;
}


#phrase {
    color: #EEEEEE;
    text-align: center;
    margin: 0em;
    overflow-y: auto;
}

#category {
    font-family: Arial;
    font-size: 40px;
    color: navajowhite;
    position: fixed;
    bottom: 0;
    text-transform: uppercase;
}


#score {
    position: absolute;
    width: 99%;
    bottom: 0;
    text-align: center;
    font-size: 40px;
    font-family: Arial;
    color: navajowhite;
}
